@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #3498db;
  -webkit-text-fill-color: #3498db;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.register-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: white;
}
.register-container {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #34495e;
}

.register-card {
  padding: 20px;
  width: 400px;
  background: #ecf0f1;
}

.register-head h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.register-head p {
  color: #95a5a6;
}

.register-input {
  width: 90%;
  padding: 15px;
  margin: 15px 0px;
  background: white !important;
}

.register-button {
  padding: 20px;
  background: #3498db;
  width: 100%;
  margin-top: 15px;
  color: white;
}

.register-signup {
  margin-top: 20px;
  color: white;
}

/* MOBILE */

@media screen and (max-width: 992px) {
  .register-card {
    padding: 20px;
    width: 70vw;
    background: #ecf0f1;
  }
}
